# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class
build/
dist/
wheels/
*.egg-info

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

/.claude
# mkdocs documentation
/site

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Jupyter Notebook
.ipynb_checkpoints


# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
/data-model/project/docs


# Ruff stuff:
.ruff_cache/

# Kroki SVG cache
.kroki-cache/
/__marimo__
